@model DBProvider1.NHANVIEN
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MyLayout/FrontEndLayout.cshtml";
}
<div class="oferta">
    <img src="~/theme/images/book1.png" width="165" height="140" border="0" class="oferta_img" alt="" />
    <div class="oferta_details">
        <div class="oferta_title">Tuổi Trẻ Đáng Giá Bao Nhiêu? </div>
        <div class="oferta_text">Tôi đã đọc quyển sách này một cách thích thú. Có nhiều kiến thức và kinh nghiệm hữu ích, những điều mới mẻ ngay cả với người gần trung niên như tôi </div>
        <a href="~/Book/DeatailBook" class="prod_buy">Xem chi tiết</a>
    </div>
</div>
<div class="center_title_bar">Sách mới nhất</div>
@for (int i = 1; i <= 6; i++)
{
    <div class="prod_box">
        <div class="center_prod_box">
            <div class="product_title"><a href="#">Đắc Nhân Tâm</a></div>
            <div class="product_img"><a href="#"><img src="~/theme/images/image-bookjpg-1.jpg" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Yêu thích</a> <a href="~/Book/DeatailBook" class="prod_details">Chi tiết</a> </div>

    </div>
}
<div class="center_title_bar">Có thể bạn thích</div>
@for (int i = 1; i <= 3; i++)
{
<div class="prod_box">
    <div class="center_prod_box">
        <div class="product_title"><a href="#">Nhà Giả Kim</a></div>
        <div class="product_img"><a href="#"><img src="~/theme/images/nha-gia-kim.png" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
    </div>
    <div class="prod_details_tab"> <a href="#" class="prod_buy">Yêu thích</a> <a href="#" class="prod_details">Chi Tiết</a> </div>
</div>
}

